
.noto-serif-text{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* shared section */
.color-1{
    color: #252432;
}
.color-2{
  color: #8987A1;
}
.color-3{
    color: #000000;
}
.color-4{
  color: #E95A08;
}
.btn-all{
  background-color: #E95A08;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
}


/* head-nav-style */
.head-nav{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 1100px;
}
.nav-ul{
    display: flex;
}
.nav-link{
    text-decoration:none;
}
.nav-li{
     text-decoration:none;
     list-style: none;
    margin: 20px;
    text-align: center;
}
/* banar-styles */
.Banar-section{
  display: flex;
  width: 1100px;
  height: 400px;
  margin: 50px auto;
  padding-top: 50px;
}
.banar-title{
  font-size: 50px;
  font-weight: bold;
}
.banar-discrtoption{
  font-size: 18px;
}
.banar-img{
  width: 570px;
  height: 355px;
}
.banar-info{
  padding-top: 56px;
}
/* main-section */
.main-style{
  width: 1100px;
  height: 1140px;
   margin: 1px auto;
  padding-top: 50px;
}
.our-plants{
  text-align: center;
}
.Plants-info{
  margin: 0px 120px 50px 120px;
}
.bold{
  font-weight: bold;
}
.all-card{
  text-align: center;
  height: 484px;
  width: 274px;
  display: grid;
  grid-template-columns:repeat(4,1fr);
}
.card-box{
  padding: 10px 20px 10px 0px;
}
/* flower-lover-section */
.flower-lover{
  width: 1100px;
  height: 600px;
  padding-top:600px;
  display: flex;
  gap: 50px;
}
.bold-3{
  font-size: 3rem;
}
.shop-img{
  width: 500px;
  height: 550px;
}
.badge{
  position: relative;
}
.trusted-badge{
  position: absolute;
  height: 234px;
  width: 234px;
  margin-left: 345px;
  margin-top: -100px;
}
/* Latest-title-section */
.Latest-title{
  text-align: center;
  margin: 0px 250px 0px 250px;
}
/* .deal-section{
  display: flex;
}
.deal-pic-1{
  margin-bottom: 20px;
  margin-right: 20px;
}
.deal-pic-1, .deal-pic{
  border-radius: 15px;
}
.deal-part{
  width: 1140px;
  height: 425px;
} */
.bg-1{
  background-image: url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
 width: 367px;
 height: 200px;
}
.bg-2{
    background-image: url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
 width: 367px;
 height: 200px;
}
.bg-3{
   background-image: url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
   width: 753px;
   height: 423px;
}
.bg-1, .bg-2{
   margin-bottom: 20px;
  margin-right: 20px;
}
.bg-1, .bg-2, .bg-3{
   border-radius: 15px;
   color: white;
   text-align: center;
}
.deal-part{
  display: flex;
}
.discount{
  padding-top: 70px;
}
.discount-1{
  padding-top: 180px;
  font-size: 2.5rem;
  font-weight: bold;
}
.shop-1, .shop-2{
  text-decoration: underline;
}
.shop-1{
  font-size: 1rem;
  font-weight:600;
}
.shop-2{
  font-size: 1.7rem;
  font-weight: bold;
}

  
/* small-device-responsive */
@media screen and (max-width:576px) {
    .hidden,
    .trusted-badge{
    display: none;
     }
     .Banar-section
     {
      flex-direction: column-reverse;
     }
     
     .head-nav,
     .Banar-section,
      .banar-img,
      .banar-info
      {
      width: 100%;
     }
     .font-24{
      font-size: 35px;
     }
     .head-nav{
         padding-bottom: 80px;
         align-items: center;
         width: 360px;
     }
     .nav-img{
        width: 20%;
     }
     .banar-info
     {
      padding: 0px;
     }
     .banar-img{
      padding-top: 0px;
     }
     /* main-section */
     .all-card{
      display: grid;
      grid-template-columns: repeat(2,1fr);
     }
     .main-style{
      width: 360px;
     }
     .Plants-info{
         margin: 20px;
     }
    .card-box{
      width: 170px;
      height: 340px;
    } 
    .card-img{
      width: 100%;
    }
   .flower-lover{
    display:flex;
    flex-direction: column;
    width: 360px;
    height: 650px;
   }
   .shop-img{
    width: 100%;
    height: 100%;
   }
}